@charset "utf-8";

@media screen and (max-width:1200px) {
    /* #securityBottom */
    #securityBottom p {
        width:70%;
    }
}

@media screen and (max-width:992px) {
    /* #affiliateTop */
    #affiliateTop .col-lg-6 img {
        position:static;
        margin-top:30px;
    }
    
    /* #dashboard */
    #dashboard .box:after {
        display:none;
    }
    
    #dashboard .box dl {
        width:50%;
    }
    
    #dashboard .date li {
        margin-right:10px;
    }
    
    /* #securityTop */
    #securityTop li dd {
        font-size:13px;
    }
    
    #securityTop .recommended .btn_enable {
        top:55px;
    }
    
    #securityTop .recommended .btn_unset {
        position:static;
        float:left;
        display:block;
        width:100%;
        box-sizing:border-box;
        padding-left:50px;
    }
    
    #securityTop .phone .btn_remove {
        top:45px;
    }

    #securityTop .phone .btn_change {
        top:45px;
    }
    
    #securityTop .phone p {
        position:static;
        float:left;
        display:block;
        width:100%;
        box-sizing:border-box;
        padding-left:50px;
    }
    
    #securityTop .email .btn_remove {
        top:45px;
    }

    #securityTop .email .btn_change {
        top:45px;
    }
    
    #securityTop .email p {
        position:static;
        float:left;
        display:block;
        width:100%;
        box-sizing:border-box;
        padding-left:50px;
    }
    
    /* #securityBottom */
    #securityBottom p {
        width:100%;
    }
    
    #securityBottom .btn_add {
        position:static;
        margin-bottom:30px;
    }
}

@media screen and (max-width:768px) {
    /* #progress */
    #progress .col-lg-4 {
        margin-bottom:30px;
    }
    
    /* #asset */
    #asset h4 {
        margin-bottom:30px;
    }
    
    #asset ul {
        position:static;
    }
    
    #asset ul li {
        margin-left:0;
        margin-right:10px;
    }
    
    /* #dashboard */
    #dashboard h4 {
        font-size:30px;
        line-height:30px;
        margin-bottom:30px;
    }

    #dashboard h4 img {
        width:30px;
    }
    
    #dashboard .date {
        float:none;
        width:100%;
    }
    
    #dashboard .date_range {
        float:none;
        width:100%;
        margin-top:15px;
    }
    
    #dashboard .box {
        margin-top:0;
        margin-bottom:30px;
    }
    
    /* #friendsList */
    #friendsList h4 {
        font-size:30px;
        line-height:30px;
        margin-bottom:30px;
    }

    #friendsList h4 img {
        width:30px;
    }
    
    #friendsList p {
        width:100%;
        margin-bottom:10px;
    }
    
    #friendsList .btn_history {
        position:static;
        margin-bottom:30px;
    }
    
    /* #commission */
    #commission h4 {
        font-size:30px;
        line-height:30px;
        margin-bottom:30px;
    }

    #commission h4 img {
        width:30px;
    }
    
    #commission .col-12 > p {
        width:100%;
        margin-bottom:10px;
    }
    
    #commission .btn_history {
        position:static;
        margin-bottom:30px;
    }
    
    #commission .box i {
        line-height:68px;
    }
    
    /* #securityTop */
    #securityTop li img {
        margin-bottom:60px;
    }
    
    #securityTop li dl {
        float:none;
    }
    
    #securityTop .password .btn_change {
        position:static;
        margin-top:10px;
    }
    
    #securityTop .recommended img {
        margin-bottom:110px;
    }
    
    #securityTop .recommended .btn_enable {
        position:static;
        margin-top:10px;
    }
    
    #securityTop .recommended .btn_unset {
        float:none;
        line-height:30px;
    }
    
    #securityTop .phone img {
        margin-bottom:90px;
    }
    
    #securityTop .phone .btn_remove {
        position:static;
        margin-top:10px;
    }

    #securityTop .phone .btn_change {
        position:static;
        margin-top:10px;
    }
    
    #securityTop .phone p {
        float:none;
        line-height:30px;
    }
    
    #securityTop .email img {
        margin-bottom:90px;
    }
    
    #securityTop .email .btn_remove {
        position:static;
        margin-top:10px;
    }

    #securityTop .email .btn_change {
        position:static;
        margin-top:10px;
    }
    
    #securityTop .email p {
        float:none;
        line-height:30px;
    }
    
    #securityTop .verification img {
        margin-bottom:80px;
    }
    
    #securityTop .verification .btn_enable {
        position:static;
        margin-top:10px;
    }
}

@media screen and (max-width:576px) {
    /* #commission */
    #commission .box i {
        line-height:90px;
    }
    
    /* #securityBottom */
    #securityBottom .wechat .bottom dl {
        width:50%;
    }
    
    #securityBottom .bank .bottom dl {
        width:50%;
        padding:10px;
    }
}

@media screen and (max-width:460px) {
    /* #affiliateTop */
    #affiliateTop h3 {
        font-size:35px;
    }
    
    #affiliateTop p {
        font-size:16px;
    }
    
    #affiliateTop .box {
        padding:20px 15px;
    }
    
    #affiliateTop .box .btn_link {
        right:15px;
        top:20px;
    }
    
    #affiliateTop .box .referral_id dd {
        font-size:25px;
    }
    
    /* #dashboard */
    #dashboard .dash_menu li {
        padding:10px;
    }
    
    #dashboard .date li {
        margin-right:5px;
        padding:5px;
    }
    
    #dashboard .box .ranking dt a {
        margin-left:0;
    }
    
    /* #commission */
    #commission h4 {
        margin-bottom:50px;
    }
    
    #commission .btn_chart {
        top:40px; 
    }
    
    #commission .commission_menu li {
        padding:10px 5px;
        font-size:13px;
    }
    
    /* #profile */
    #profile .user_info .nickname {
        float:none;
    }
    
    #profile .user_info .user_id {
        float:none;
        margin:20px 0;
    }
    
    #profile .bottom dl {
        width:50%;
    }
    
    #profile .bottom dl:last-child {
        width:100%;
    }
}

@media screen and (min-width:458px) {
    /* #homeMainTop */
    #homeMainTop h5,#homeMainTop p,#cryptoCurrency .order-md-1 h2 {
        white-space: pre-line;
    }
}

@media screen and (max-width:280px) {
    /* #homeMainTop */
    #homeMainTop h5 {
        font-size: 24px;
        line-height: 1.5;
    }

    /*attchmodal*/
    #attchmodal .main-upload-doc .btn-cl {
        padding-top: 48px !important;
    }
}

@media screen and (max-width:360px) {
    /* #homeMainTop */
    #homeMainTop h5 {
        font-size: 30px;
        line-height: 1.5;
    }
}

@media screen and (max-width:992px){
    /* #homeMainTop */
    header .user_btn {
        display:none;
    }

    header .search_pc {
        display: none;
    }
}

@media screen and (min-width:992px){
    /* #homeMainTop */
    #homeMainTop .homemain_left {
        /* margin-left: 25%; */
    }

    #homeMainTop .homemain_right {
        margin-left: 15%;
    }
}

@media screen and (max-width:992px){
    #startCrypto .start_crypto_content {
        display: block !important;
        text-align: center;
    }

    #startCrypto .start_crypto_content a {
        margin-top: 10px;
    }
}

@media screen and (max-width:1170px) and (min-width: 992px) {
    .search_pc .has-search {
        width: 100px;
    }

    header .search_pc {
        right: 26%;
    }

}

@media screen and (max-width:576px) {
    #join .row {
        margin-left: 0;
        margin-right: 0;
    }

}

@media screen and (max-width:992px) and (min-width: 768px) {
    #withdrawCrypto .wa-icon label span:nth-child(1)::after {
        right: -22px;
    }
}

@media screen and (max-width:576px) {
    #sellbtc .sell-btc-left-row .sell-payment {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:992px) and (min-width: 768px) {
    .my-timeline li {
        width: 119px !important;
    }
}

@media screen and (max-width:1200px) and (min-width: 992px) {
    .my-timeline li {
        width: 175px !important;
    }
}

@media screen and (max-width:767px) and (min-width: 540px) {
    .my-timeline li {
        width: 135px !important;
    }
}

@media screen and (max-width:414px) {
    .my-timeline li {
        width: 93px !important;
    }
}

@media screen and (max-width:375px) {
    .my-timeline li {
        width: 76px !important;
    }
}

@media screen and (max-width:320px) {
    .my-timeline li {
        width: 63px !important;
    }
}

@media screen and (max-width:280px) {
    .my-timeline li {
        width: 48px !important;
    }
}

@media screen and (max-width:540px) and (min-width: 425px){
    .my-timeline li {
        width: 98px !important;
    }
}