@use "@fontsource/roboto/scss/mixins" as Roboto;
@tailwind base;
@tailwind components;
@tailwind utilities;

@include Roboto.fontFace(
  $weight: 500,
  $display: fallback,
  $fontDir: "~@fontsource/roboto/files"
);

body{
  font-family: Roboto, sans-serif;
  @apply text-light-dark;
}