<footer>
  <hr class="mb-8 mt-4" />
  <p>
    This is an automated email; if you did not authorize this action, then
    please change your password. For more information, please visit
    <a href="<%= companyWebSupport %>"><%= companyName %> support</a>.
  </p>
  <address>
    <%= companyAddress %>
  </address>
  <p class="conspicuous ">- Team <%= companyName %></p>
</footer>
