.Wallet_th .main-th-page {
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.55);
	padding: 30px 15px;
}

.Wallet_th .tb-border {
    border: 2px solid #c4c4c4;
    border-radius: 10px;
    padding: 15px 30px;
}

.Wallet_th .tb-border table thead tr {
    background-color: #F1F1FF;
}

.Wallet_th .my-table tr td {
    border: none !important;
}

.Wallet_th .coin button {
    border: 1px solid #4F4F4F;
}

.Wallet_th .bank-data-img p {
    color: #5F5F5F;
}