NODE_ENV=development

# hapi server configuration
PORT=8080
HOST=localhost
HOST_URL=http://localhost:8080
COOKIE_ENCRYPT_PWD=superAwesomePasswordStringThatIsAtLeast32CharactersLong!

# SQL Server connection
DB_USER={user}
DB_PASSWORD={password}
DB_NAME={database_name}
DB_DIALECT={server_name}
# Set SQL_ENCRYPT=true if using Azure
DB_ENCRYPT=false
