.py-60{
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
.hr-line-rgb {
    color: #C4C4C4;
}
.form-group{
 margin-bottom: 1rem;
}
.create-account-section {
    box-shadow: 0px 0px 3px 1px #0000008c;
    border-radius: 7px;
}
.py-15 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.verify-pass {
	background-color: #F1F1FF;
	padding: 30px 15px;
	color: #0059FF;
}

.detail-confirm {
	font-size: 12px;
}
