<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account - Reset Password</title>
  </head>
  <body>
    <div>
      <p>Hi, <%= recipientName %></p>
      <h2>Reset Password Request</h2>
      <p>
        We received a request using the email,
        <strong> <%= recipientEmail %> </strong> to reset your account password
      </p>
      <a href="<%= resetLink %>"><button>Confirm password reset</button></a>

      <p>
        If this wasn't you, please ignore, else click on the link below to
        continue
      </p>
      <a href="<%= resetLink %>">Confirm password reset</a>
    </div>
  </body>
</html>
