<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cryptcon - Reset Password</title>
    <%- include('includes/meta') %>
  </head>
  <body>
    <div>
      <p>To reset your password click the button below:</p>
      <button><a href="<%= reset_link %>"></a>Reset Password</button>
      If button is not redirecting, copy and paste link in yor browser<a
        href="<%= reset_link %>"
        >Link</a
      >
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
